header.header
  .container
    .row.align-items-center
      .col-6
        .inner-logo
          a(href="/")
            img(src="", alt="Logo")
       
      .col-6
        .inner-menu
          ul
            if(user)
              //- li 
              //-   a(href="/chat") Chat
              li 
                a(href="/users/friends") Bạn bè
              li 
                a(href="/user/info") #{user.fullName} 
              li 
                a(href="/user/logout") Đăng xuất
                         
            else
              li 
                a(href="/user/login") Đăng nhập
              li 
                a(href="/user/register") Đăng ký
