header.header
  .container
    .row.align-items-center
      .col-6
        .inner-logo
          a(href="/")
            img(src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT1Wz4g0Wnngxc7JZLnh4l4I459VCVWVBqIjg&s", alt="Logo")
       
      .col-6
        .inner-menu
          ul
            if(user)
              //- li 
              //-   a(href="/chat") Chat
              li 
                a(href="/users/friends")
                  img(src="/images/friend.png" class="images-chat")
              li 
                a(href="/rooms-chat") 
                  img(src="/images/roomChat.png" class="images-chat")
              ul.user-menu
                li
                  a.user-name(href="/user/info") #{user.fullName}
                li
                  a.logout-link(href="/user/logout") Đăng xuất

                         
            else
              ul.nav-links
                li
                  a.login(href="/user/login") Đăng nhập
                li
                  a.logout(href="/user/register") Đăng ký
