extends ../../layouts/default.pug
include ../../mixins/box-head.pug

block main
  .container
    .row
      .col-md-12 
        div(class="head") Chat Realtime
        p(class="description") Welcome to the Chat Application!
   
