extends ../../layouts/default.pug
include ../../mixins/box-head.pug

block main
  .container
    .row
      .col-md-12
        +box-head("Chat Realtime")
        p Welcome to the Chat Application!
   
